body {
	background: none;
	padding-top: 120px;
}
.icon-search {
	width: 20px;
}

.search-orden {
	background-image: url('../img/search.svg');
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
}
#user-cart-panel {
	margin-right: 20%;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}